<!DOCTYPE HTML>
<html>
<head>
	<title>Desarrollador Frontend y Backend</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width , initial-scale=1 ,maximum-scale=1" />
	<link rel="stylesheet"href='/stylesheets/estilos.css' />
	<link href='http://fonts.googleapis.com/css?family=Arimo|Playfair+Display:400italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<header class="main-Header">
		
		<figure class="header-Imagen">
			<img src="/images/3.jpg" />
			<figcaption class="header-Description">
				<span>Héctor Campos Alonso</span>
				<p>Ingeniero en Tecnológias de la Información </p>
			</figcaption>
		</figure>

		<nav class="header-Nav">
	      <ul class="header-List">
	        <li class="header-list-item"><a href="/" class="icon-home" >Inicio</a></li>
	        <li class="header-list-item"><a href="/galeria.html" class="icon-images" >Fotos</a></li>
	        <li class="header-list-item"><a href="tutorial.html" class="icon-tutorial" >Tutoriales</a></li>
	        <li class="header-list-item"><a href="/acerca-de" class="icon-user2">Acerca de Mi</a></li>
	      </ul>
    	</nav>	

		<section class='header-Social'>
			<a class="header-Social-Item" href="https://twitter.com/Huixcospartan"><img src="/images/twitter.png"></a>
			<a class="header-Social-Item" href="https://www.facebook.com/AlonsoSilence"><img src="/images/facebook.png"></a>
			<a class="header-Social-Item" href="https://github.com/AlonsoCampos"><img src="/images/github.png"></a>
			<a class="header-Social-Item" href="http://www.youtube.com/channel/UCZOTedwROfSWgUwNarg3R1g"><img src="/images/youtube.png"></a>
		</section>
	</header>

	<section class="principal-CV">
		<article id='acerca-principal'>
			<h1 id='acerca-titulo'>Héctor Campos Alonso</h1>
			<h2 id='acerca-subtitulo'>Desarrollador <strong>Frontend</strong> y <strong>Backend</strong></h2>
		</article>
		<% users.forEach(function(users){ %>
        
		<article id="acerca-personal">
			<article id="info-personal">
				<p class="titulo-seccion">Personal</p>
				<p><strong>Nombre:</strong><%=users.name%></p>
				<p><strong>Ubicacion:</strong> <%=users.nationality%></p>
				<p><strong>Nacionalidad:</strong><%=users.nationality%></p>
				<p><strong>Correo:</strong><%=users.email%></p>
				<p><strong>Telefono:</strong> <%=users.phone%> </p>
			</article>
			<article id="info-premios">
				<p class="titulo-seccion">Certificaciones</p>
				<p><strong>Certificación</strong> - <%=users.certification%></p>
			</article>
			<article id="info-habilidades">
				<p class="titulo-seccion">Habilidades</p>
				<p><%=users.skills%></p>
				
			</article>
		</article>

		<article id="acerca-experiencia">
			
			<article id="acerca-bio">
				<p class="titulo-seccion">Biografia</p>	
							<p><%=users.biography%> </p>
			</article>
			<article id="acerca-portafolio">
				<p class="titulo-seccion">Portafolio</p>
				    <p><%=users.portafolio%></p>
				    
			</article>
		</article>
		 <%})%>
		<article id="acerca-historial">

			<article id="ultimo-trabajo">
				<p class="titulo-seccion">Ultimo Trabajo</p>
				<p class='marcado'><strong>Puesto</strong> - Frontend</p>
				<p class='marcado'><strong>Tiempo en el puesto</strong> - 3 años</p>
				<p class='marcado'><strong>Empresa</strong> - World System Solution</p>
				<p class='marcado'><strong>Special Performance</strong> - i2c Inc 2011</p>
				<p class='marcado'><strong>Special Performance</strong> - i2c Inc 2011</p>
				
				<article id="trabajos">
					<p class="titulo-seccion">Trabajos</p>
					<figure><img src="/images/wanagow.png"></figure>
					<figure><img src="/images/wanagow.png"></figure>
					<figure><img src="/images/wanagow.png"></figure>
					<figure><img src="/images/wanagow.png"></figure>
					<figure><img src="/images/wanagow.png"></figure>
					<figure><img src="/images/wanagow.png"></figure>
					<figure><img src="/images/wanagow.png"></figure>
					<figure><img src="/images/wanagow.png"></figure>
					<figure><img src="/images/wanagow.png"></figure>
					<figure><img src="/images/wanagow.png"></figure>
					<figure><img src="/images/wanagow.png"></figure>
					<figure><img src="/images/wanagow.png"></figure>
					<figure><img src="/images/wanagow.png"></figure>
					<figure><img src="/images/wanagow.png"></figure>
					<figure><img src="/images/wanagow.png"></figure>
				</article>

			</article>
			
			
			
			<article id="historial">
				<p class="titulo-seccion">Linea de Tiempo</p>
				<div class="fecha">
					<p class='historia'>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.  </p>
					<p class='año'>2013</p>
				</div>
				<div class="fecha">
					<p class='historia'>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.  </p>
					<p class='año'>2012</p>
				</div>
				<div class="fecha">
					<p class='historia'>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.  </p>
					<p class='año'>2011</p>
				</div>
				<div class="fecha">
					<p class='historia'>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.  </p>
					<p class='año'>2010</p>
				</div>
			</article>
			
			<article id="mapa">
				<p class="titulo-seccion">Donde puedes encontrarme</p>
			</article>
		</article>


	</section>

	<footer class="footer">
		<p>Copyright © 2014
		 Lenguajes de Programacion.
		</p>
	</footer>

	<script type="text/javascript" src='js/prefixfree.js'></script>
	<script type="text/javascript" src='js/jquery.js'></script>
</body>
</html>