<!DOCTYPE HTML>
<html>
<head>
  <title><%= title %></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width , initial-scale=1 ,maximum-scale=1" />
  <link rel="stylesheet"href='/stylesheets/estilos.css' />
  <link href='http://fonts.googleapis.com/css?family=Arimo|Playfair+Display:400italic' rel='stylesheet' type='text/css'>
</head>
<body>

  <header class="main-Header">
    
    <figure class="header-Imagen">
      <img src="/images/3.jpg" />
      <figcaption class="header-Description">
        <span>Héctor Campos Alonso</span>
        <p>Ingeniero en Tecnológias de la Información </p>
      </figcaption>
    </figure>

    <nav class="header-Nav">
      <ul class="header-List">
        <li class="header-list-item"><a href="/" class="icon-home" >Inicio</a></li>
        <li class="header-list-item"><a href="/" class="icon-images" >Fotos</a></li>
        <li class="header-list-item"><a href="" class="icon-tutorial" >Tutoriales</a></li>
        <li class="header-list-item"><a href="/acerca-de" class="icon-user2">Acerca de Mi</a></li>
      </ul>
    </nav>

    <section class='header-Social'>
      <a class="header-Social-Item" href="https://twitter.com/Huixcospartan"><img src="/images/twitter.png"></a>
      <a class="header-Social-Item" href="https://www.facebook.com/AlonsoSilence"><img src="/images/facebook.png"></a>
      <a class="header-Social-Item" href="https://github.com/AlonsoCampos"><img src="/images/github.png"></a>
      <a class="header-Social-Item" href="http://www.youtube.com/channel/UCZOTedwROfSWgUwNarg3R1g"><img src="/images/youtube.png"></a>
    </section>
  </header>

  <section class="principal-Container">

    <article class="second-Header">
      
      <article class="second-Header-Principal">
        <figure class="second-Header-Imagen">
          <img src="/images/lector.png">
          <figcaption class="second-Header-Description">
            <h1>Innovación y Emprendimiento</h1>
            <p>Desarrollamos tus proyectos web, escritorio, mobiles</p>
            <a href="#">Mas información</a>
          </figcaption> 
        </figure>
      </article>

      <section class="second-Header-Services">
        <article class="services-Item">
          <h3 class="services-Item-Title icon-web ">Diseño Web</h3>
          <p class="services-Item-Description">Programación y Diseño Web, Desarrollo de Versión Móvil Web,
           Desarrollo de Aplicaciones Web.</p>        
        </article>
        <article class="services-Item">
          <h3 class="services-Item-Title icon-cloud">Aplicaciones Web</h3>
          <p class="services-Item-Description">Diseño y Desarrollo de Aplicaciones Web.  Extranets. Sistema para Proveedores, Clientes y Colaboradores Externos.</p>
          
        </article>
        <article class="services-Item">
          <h3 class="services-Item-Title icon-phone">Aplicaciones Mobiles</h3>
          <p class="services-Item-Description">Desarrollo de aplicaciones móviles para iPhone / iPad, Android, Firefox OS.</p>
        </article>
        <article class="services-Item">
          <h3 class="services-Item-Title icon-desktop">Aplicaciones de Escritorio</h3>
          <p class="services-Item-Description">Intranets como Gestión de Proyectos, Control de Gastos, Control de Presencia.</p>
        </article>
      </section>
    </article>

    <article class="container">
      <h2 class="container-Title">Proyectos Recientes</h2>
      <h4 class="container-Description">Te invitamos a conocer nuestros proyectos mas recientes</h4>
      <a  class="container-Link" href="#" >Ver todos los proyectos</a>
      <p class="container-add"><a  class="container-Link" href="/add" >Agregar proyectos</a></p>

      <section class="container-item">

        <% projects.forEach(function(project){ %>
            <a href="/detalles/<%=project._id%>">
              <article class="item">
                  <figure class="item-Imagen">
                    <img src="/images/wanagow.png">
                    <figcaption class="item-Image-Description">
                      <%= project.title%>
                      <p class="icon-<%= project.icon%>"><%= project.descriptionshorte%></p>
                    </figcaption>
                </figure> 
              </article>
            </a>
        <%})%>


      </section>
      



    </article>

  </section>

  <footer class="footer">
    <p>Copyright © 2014
     Lenguajes de Programacion.
    </p>
  </footer>

  <script type="text/javascript" src='/javascripts/prefixfree.js'></script>
  <script type="text/javascript" src='/javascripts/jquery.js'></script>
  
</body>
</html>